openapi: 3.1.0
info:
  title: lendapi Amortization Get App Credit Report API
  version: '1.0'
servers:
- url: https://app.lendapi.com/api/v1/
security:
- sec0: []
tags:
- name: Get App Credit Report
paths:
  /get_app_credit_report/{id}:
    get:
      summary: Copy of Get an application
      description: Get the basic info and status of an application. For example, you can use this api to check whether the application is approved, declined by the rules engine. The rules engine and pricing engine results are returned in the engine node of the api response.
      operationId: get-an-application-1
      parameters:
      - name: id
        in: path
        description: This is the uuid id of the application.
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"object\": \"application\",\n    \"url\": \"/v1/application/2d30a4c7-8a8e-4de3-9718-71857993e357\",\n    \"result\": {\n        \"app_id\": \"2d30a4c7-8a8e-4de3-9718-71857993e357\",\n        \"lead_id\": \"\",\n        \"first_name\": \"David\",\n        \"last_name\": \"Perkins\",\n        \"email\": \"xxxx1@lendapi.com\",\n        \"address1\": \"8750 MEADOWVALE DR\",\n        \"address2\": \"\",\n        \"city\": \"EDEN PRAIRIE\",\n        \"state\": \"MN\",\n        \"zipcode\": \"55347\",\n        \"status\": \"Booked\",\n        \"engine\": {\n            \"decisions\": [\n            ],\n            \"offers\": [\n            ]\n        }\n    }\n}"
              schema:
                oneOf:
                - type: object
                  properties: {}
                - type: object
                  properties:
                    object:
                      type: string
                      example: application
                    url:
                      type: string
                      example: /v1/application/2d30a4c7-8a8e-4de3-9718-71857993e357
                    result:
                      type: object
                      properties:
                        app_id:
                          type: string
                          example: 2d30a4c7-8a8e-4de3-9718-71857993e357
                        lead_id:
                          type: string
                          example: ''
                        first_name:
                          type: string
                          example: David
                        last_name:
                          type: string
                          example: Perkins
                        email:
                          type: string
                          example: xxxx1@lendapi.com
                        address1:
                          type: string
                          example: 8750 MEADOWVALE DR
                        address2:
                          type: string
                          example: ''
                        city:
                          type: string
                          example: EDEN PRAIRIE
                        state:
                          type: string
                          example: MN
                        zipcode:
                          type: string
                          example: '55347'
                        status:
                          type: string
                          example: Booked
                        engine:
                          type: object
                          properties:
                            decisions:
                              type: array
                            offers:
                              type: array
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Get App Credit Report
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: AUTHORIZATION
      x-default: Bearer your_api_key
