openapi: 3.1.0
info:
  title: lendapi Amortization Outcomes API
  version: '1.0'
servers:
- url: https://app.lendapi.com/api/v1/
security:
- sec0: []
tags:
- name: Outcomes
paths:
  /outcomes/{id}/:
    get:
      summary: List Outcomes by Action
      description: Returns all Outcome under a Tenant tied to a specific Action
      operationId: list-outcomes-by-action
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          format: int32
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"object\": \"outcome\",\n  \"url\": \"/v1/outcomes/:id\",\n  \"has_more\": \"false\",\n  \"results\": [\n    {\n      \"id\": 0,\n      \"name\": \"string\",\n      \"active\": true\n    }\n  ]\n}"
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: outcome
                  url:
                    type: string
                    example: /v1/outcomes/:id
                  has_more:
                    type: string
                    example: 'false'
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 0
                          default: 0
                        name:
                          type: string
                          example: string
                        active:
                          type: boolean
                          example: true
                          default: true
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Outcomes
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: AUTHORIZATION
      x-default: Bearer your_api_key
