{
  "openapi": "3.1.0",
  "info": {
    "title": "lendapi",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://app.lendapi.com/api/v1/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "AUTHORIZATION",
        "x-default": "Bearer your_api_key"
      }
    }
  },
  "paths": {
    "/application/": {
      "post": {
        "summary": "Create application",
        "description": "The api can be used to create an application.",
        "operationId": "create-application",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "first_name",
                  "last_name",
                  "email",
                  "product_id"
                ],
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "First name"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Last name"
                  },
                  "address1": {
                    "type": "string",
                    "description": "Adress line 1"
                  },
                  "address2": {
                    "type": "string",
                    "description": "Optional second line of the address"
                  },
                  "city": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string",
                    "description": "state, for example NY, CA"
                  },
                  "zipcode": {
                    "type": "string",
                    "description": "5 digits zipcode"
                  },
                  "email": {
                    "type": "string"
                  },
                  "mobile": {
                    "type": "string",
                    "description": "Mobile number, for example 9490001234"
                  },
                  "ssn": {
                    "type": "string"
                  },
                  "birth_date": {
                    "type": "string",
                    "description": "birth date in format MM/DD/YYYY"
                  },
                  "data": {
                    "type": "string",
                    "format": "json",
                    "description": "This is the LendAPI variable key value pair. For example, {\"loan_amount\": 2000, \"loan_term\": 12}"
                  },
                  "product_id": {
                    "type": "integer",
                    "description": "The product ID of the application",
                    "format": "int32"
                  },
                  "tenant_id": {
                    "type": "string",
                    "description": "This is the UUID of the tenant, such as 550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "address1": "8751 MEADOWVALE DR",
                    "address2": "",
                    "city": "EDEN PRAIRIE",
                    "birth_date": "1991-11-01",
                    "email": "bobsmith+82@youremail.com",
                    "first_name": "dave",
                    "last_name": "perkin",
                    "ssn": "666898300",
                    "state": "MN",
                    "zipcode": "55347"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"object\": \"application\",\n    \"url\": \"api/v1/application/\",\n    \"id\": \"d130f351-26a1-4698-9b64-92ae8c46c644\"\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {}
                    },
                    {
                      "type": "object",
                      "properties": {
                        "object": {
                          "type": "string",
                          "example": "application"
                        },
                        "url": {
                          "type": "string",
                          "example": "api/v1/application/"
                        },
                        "id": {
                          "type": "string",
                          "example": "d130f351-26a1-4698-9b64-92ae8c46c644"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/application/{id}": {
      "get": {
        "summary": "Get an application",
        "description": "Get the basic info and status of an application. For example, you can use this api to check whether the application is approved, declined by the rules engine. The rules engine and pricing engine results are returned in the engine node of the api response.",
        "operationId": "get-an-application",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "This is the uuid id of the application.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"object\": \"application\",\n    \"url\": \"/v1/application/2d30a4c7-8a8e-4de3-9718-71857993e357\",\n    \"result\": {\n        \"app_id\": \"2d30a4c7-8a8e-4de3-9718-71857993e357\",\n        \"lead_id\": \"\",\n        \"first_name\": \"David\",\n        \"last_name\": \"Perkins\",\n        \"email\": \"xxxx1@lendapi.com\",\n        \"address1\": \"8750 MEADOWVALE DR\",\n        \"address2\": \"\",\n        \"city\": \"EDEN PRAIRIE\",\n        \"state\": \"MN\",\n        \"zipcode\": \"55347\",\n        \"status\": \"Booked\",\n        \"engine\": {\n            \"decisions\": [\n            ],\n            \"offers\": [\n            ]\n        }\n    }\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {}
                    },
                    {
                      "type": "object",
                      "properties": {
                        "object": {
                          "type": "string",
                          "example": "application"
                        },
                        "url": {
                          "type": "string",
                          "example": "/v1/application/2d30a4c7-8a8e-4de3-9718-71857993e357"
                        },
                        "result": {
                          "type": "object",
                          "properties": {
                            "app_id": {
                              "type": "string",
                              "example": "2d30a4c7-8a8e-4de3-9718-71857993e357"
                            },
                            "lead_id": {
                              "type": "string",
                              "example": ""
                            },
                            "first_name": {
                              "type": "string",
                              "example": "David"
                            },
                            "last_name": {
                              "type": "string",
                              "example": "Perkins"
                            },
                            "email": {
                              "type": "string",
                              "example": "xxxx1@lendapi.com"
                            },
                            "address1": {
                              "type": "string",
                              "example": "8750 MEADOWVALE DR"
                            },
                            "address2": {
                              "type": "string",
                              "example": ""
                            },
                            "city": {
                              "type": "string",
                              "example": "EDEN PRAIRIE"
                            },
                            "state": {
                              "type": "string",
                              "example": "MN"
                            },
                            "zipcode": {
                              "type": "string",
                              "example": "55347"
                            },
                            "status": {
                              "type": "string",
                              "example": "Booked"
                            },
                            "engine": {
                              "type": "object",
                              "properties": {
                                "decisions": {
                                  "type": "array"
                                },
                                "offers": {
                                  "type": "array"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/get_app_credit_report/{id}": {
      "get": {
        "summary": "Copy of Get an application",
        "description": "Get the basic info and status of an application. For example, you can use this api to check whether the application is approved, declined by the rules engine. The rules engine and pricing engine results are returned in the engine node of the api response.",
        "operationId": "get-an-application-1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "This is the uuid id of the application.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"object\": \"application\",\n    \"url\": \"/v1/application/2d30a4c7-8a8e-4de3-9718-71857993e357\",\n    \"result\": {\n        \"app_id\": \"2d30a4c7-8a8e-4de3-9718-71857993e357\",\n        \"lead_id\": \"\",\n        \"first_name\": \"David\",\n        \"last_name\": \"Perkins\",\n        \"email\": \"xxxx1@lendapi.com\",\n        \"address1\": \"8750 MEADOWVALE DR\",\n        \"address2\": \"\",\n        \"city\": \"EDEN PRAIRIE\",\n        \"state\": \"MN\",\n        \"zipcode\": \"55347\",\n        \"status\": \"Booked\",\n        \"engine\": {\n            \"decisions\": [\n            ],\n            \"offers\": [\n            ]\n        }\n    }\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {}
                    },
                    {
                      "type": "object",
                      "properties": {
                        "object": {
                          "type": "string",
                          "example": "application"
                        },
                        "url": {
                          "type": "string",
                          "example": "/v1/application/2d30a4c7-8a8e-4de3-9718-71857993e357"
                        },
                        "result": {
                          "type": "object",
                          "properties": {
                            "app_id": {
                              "type": "string",
                              "example": "2d30a4c7-8a8e-4de3-9718-71857993e357"
                            },
                            "lead_id": {
                              "type": "string",
                              "example": ""
                            },
                            "first_name": {
                              "type": "string",
                              "example": "David"
                            },
                            "last_name": {
                              "type": "string",
                              "example": "Perkins"
                            },
                            "email": {
                              "type": "string",
                              "example": "xxxx1@lendapi.com"
                            },
                            "address1": {
                              "type": "string",
                              "example": "8750 MEADOWVALE DR"
                            },
                            "address2": {
                              "type": "string",
                              "example": ""
                            },
                            "city": {
                              "type": "string",
                              "example": "EDEN PRAIRIE"
                            },
                            "state": {
                              "type": "string",
                              "example": "MN"
                            },
                            "zipcode": {
                              "type": "string",
                              "example": "55347"
                            },
                            "status": {
                              "type": "string",
                              "example": "Booked"
                            },
                            "engine": {
                              "type": "object",
                              "properties": {
                                "decisions": {
                                  "type": "array"
                                },
                                "offers": {
                                  "type": "array"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/application": {
      "put": {
        "description": "",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [],
        "operationId": "put_application",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "This is the uuid id of the application, such as '3f8b2c4e-7a91-4d6b-9c2e-5a1f0d8e6b73'. "
                  },
                  "data": {
                    "type": "string",
                    "format": "json",
                    "description": "Use the json key value to update the application variables. For example, {\"var_abc\":100, \"var_xyz\":600}"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        }
      }
    },
    "/page-submit/": {
      "post": {
        "description": "",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [],
        "operationId": "post_page-submit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_referral": {
                    "type": "string",
                    "description": "This is the code in product studio."
                  },
                  "label": {
                    "type": "string",
                    "description": "The tab name of the current application"
                  },
                  "data": {
                    "type": "string",
                    "format": "json",
                    "description": "The variable values for the given tab. Your variables shall match the product studio for the tab."
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "product_referral",
                  "data",
                  "label"
                ]
              }
            }
          }
        }
      }
    },
    "/variable/": {
      "post": {
        "summary": "Create a Variable",
        "description": "Creates a new Variable for the Tenant",
        "operationId": "create-a-variable",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "engine_name",
                  "type"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the variable"
                  },
                  "engine_name": {
                    "type": "string",
                    "description": "unique identifier for the variable to acquire and store values"
                  },
                  "type": {
                    "type": "integer",
                    "description": "type of values that the variable will handle. 1: numeric 2: string 3: boolean 5: date 6: list",
                    "format": "int32"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/outcomes/{id}/": {
      "get": {
        "summary": "List Outcomes by Action",
        "description": "Returns all Outcome under a Tenant tied to a specific Action",
        "operationId": "list-outcomes-by-action",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"object\": \"outcome\",\n  \"url\": \"/v1/outcomes/:id\",\n  \"has_more\": \"false\",\n  \"results\": [\n    {\n      \"id\": 0,\n      \"name\": \"string\",\n      \"active\": true\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "outcome"
                    },
                    "url": {
                      "type": "string",
                      "example": "/v1/outcomes/:id"
                    },
                    "has_more": {
                      "type": "string",
                      "example": "false"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "name": {
                            "type": "string",
                            "example": "string"
                          },
                          "active": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/decisions/": {
      "get": {
        "summary": "List all Decisions",
        "description": "Returns all Decision Trees under a Tenant",
        "operationId": "list-all-decision-trees",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "index of record to start with",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "max number of records to return",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"object\": \"decision\",\n    \"url\": \"/v1/decisions\",\n    \"has_more\": \"false\",\n    \"message\": \"\",\n    \"results\": [\n        {\n            \"id\": \"5c13c1d7-1463-41dd-b243-3f5a6910d43e\",\n            \"title\": \"Test tree\",\n            \"description\": \"test\",\n            \"default\": 1,\n            \"published\": true,\n            \"active\": true\n        },\n        {\n            \"id\": \"51638ae1-b7db-42d2-8c76-685259ba861c\",\n            \"title\": \"Test credit score\",\n            \"description\": \"credit score decision tree\",\n            \"default\": 1,\n            \"published\": true,\n            \"active\": true\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "decision"
                    },
                    "url": {
                      "type": "string",
                      "example": "/v1/decisions"
                    },
                    "has_more": {
                      "type": "string",
                      "example": "false"
                    },
                    "message": {
                      "type": "string",
                      "example": ""
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "5c13c1d7-1463-41dd-b243-3f5a6910d43e"
                          },
                          "title": {
                            "type": "string",
                            "example": "Test tree"
                          },
                          "description": {
                            "type": "string",
                            "example": "test"
                          },
                          "default": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "published": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "active": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/decision/{id}/versions/": {
      "get": {
        "summary": "List Decision Versions",
        "description": "",
        "operationId": "list-decision-versions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"object\": \"decision_version\",\n  \"url\": \"/v1/decision/:id/versions\",\n  \"default_version\": 0,\n  \"results\": [\n    {\n      \"version\": 0,\n      \"description\": \"string\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "decision_version"
                    },
                    "url": {
                      "type": "string",
                      "example": "/v1/decision/:id/versions"
                    },
                    "default_version": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "version": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "description": {
                            "type": "string",
                            "example": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/decision/{id}/{decision_version}/params/": {
      "get": {
        "summary": "List Decision Parameters",
        "description": "Returns all the parameters required for the specified Decision and its Version",
        "operationId": "list-decision-parameters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "decision_version",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"object\": \"decision_params\",\n  \"url\": \"/v1/decision/:id/:version/params\",\n  \"default_version\": 0,\n  \"results\": [\n    {\n      \"id\": 0,\n      \"name\": \"string\",\n      \"engine_name\": \"string\",\n      \"type\": \"string\",\n      \"description\": \"string\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "decision_params"
                    },
                    "url": {
                      "type": "string",
                      "example": "/v1/decision/:id/:version/params"
                    },
                    "default_version": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "name": {
                            "type": "string",
                            "example": "string"
                          },
                          "engine_name": {
                            "type": "string",
                            "example": "string"
                          },
                          "type": {
                            "type": "string",
                            "example": "string"
                          },
                          "description": {
                            "type": "string",
                            "example": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/decision/{id}/run/": {
      "post": {
        "summary": "Run Decision",
        "description": "",
        "operationId": "run-decision",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "This is the UUID of the decision tree",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "params"
                ],
                "properties": {
                  "version": {
                    "type": "integer",
                    "description": "This is an optional field. When version param is not passed in, system uses the default version of the decision tree to run. You can pass the specific version of the decision tree to run if you choose to do so.",
                    "format": "int32"
                  },
                  "params": {
                    "type": "string",
                    "description": "parameters and values for the decision, should be a dict",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{'object': 'decision_run',\n 'url': '/v1/decision/:id/run/',\n 'result': {'code': 1,\n  'data': {'rule_id': int,\n   'app_id': int,\n   'status': int,\n   'chain': int,\n   'action': string},\n  'msg': string}}\n"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/pricing_engines": {
      "get": {
        "summary": "List all Pricing Engines",
        "description": "Returns all Decision Trees under a Tenant",
        "operationId": "list-all-pricing-engines",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "index of record to start with",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "max number of records to return",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"object\": \"decision\",\n    \"url\": \"/v1/decisions\",\n    \"has_more\": \"false\",\n    \"message\": \"\",\n    \"results\": [\n        {\n            \"id\": \"5c13c1d7-1463-41dd-b243-3f5a6910d43e\",\n            \"title\": \"Test tree\",\n            \"description\": \"test\",\n            \"default\": 1,\n            \"published\": true,\n            \"active\": true\n        },\n        {\n            \"id\": \"51638ae1-b7db-42d2-8c76-685259ba861c\",\n            \"title\": \"Test credit score\",\n            \"description\": \"credit score decision tree\",\n            \"default\": 1,\n            \"published\": true,\n            \"active\": true\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "decision"
                    },
                    "url": {
                      "type": "string",
                      "example": "/v1/decisions"
                    },
                    "has_more": {
                      "type": "string",
                      "example": "false"
                    },
                    "message": {
                      "type": "string",
                      "example": ""
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "5c13c1d7-1463-41dd-b243-3f5a6910d43e"
                          },
                          "title": {
                            "type": "string",
                            "example": "Test tree"
                          },
                          "description": {
                            "type": "string",
                            "example": "test"
                          },
                          "default": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "published": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "active": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/pricing_engine/{id}/versions/": {
      "get": {
        "summary": "List Pricing Engine Versions",
        "description": "",
        "operationId": "list-pricing-engine-versions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"object\": \"decision_version\",\n  \"url\": \"/v1/decision/:id/versions\",\n  \"default_version\": 0,\n  \"results\": [\n    {\n      \"version\": 0,\n      \"description\": \"string\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "decision_version"
                    },
                    "url": {
                      "type": "string",
                      "example": "/v1/decision/:id/versions"
                    },
                    "default_version": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "version": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "description": {
                            "type": "string",
                            "example": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/pricing_engine/{id}/{engine_version}/params/": {
      "get": {
        "summary": "List Pricing Engine Parameters",
        "description": "Returns all the parameters required for the specified Pricing Engine and its Version",
        "operationId": "list-pricing-engine-parameters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "engine_version",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"object\": \"decision_params\",\n  \"url\": \"/v1/decision/:id/:version/params\",\n  \"default_version\": 0,\n  \"results\": [\n    {\n      \"id\": 0,\n      \"name\": \"string\",\n      \"engine_name\": \"string\",\n      \"type\": \"string\",\n      \"description\": \"string\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "decision_params"
                    },
                    "url": {
                      "type": "string",
                      "example": "/v1/decision/:id/:version/params"
                    },
                    "default_version": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "name": {
                            "type": "string",
                            "example": "string"
                          },
                          "engine_name": {
                            "type": "string",
                            "example": "string"
                          },
                          "type": {
                            "type": "string",
                            "example": "string"
                          },
                          "description": {
                            "type": "string",
                            "example": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/pricing_engine/{id}/run/": {
      "post": {
        "summary": "Run Pricing Engine",
        "description": "",
        "operationId": "run-pricing-engine",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "This is the UUID of the decision tree",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "params"
                ],
                "properties": {
                  "version": {
                    "type": "integer",
                    "description": "This is an optional field. When version param is not passed in, system uses the default version of the pricing engine to run. You can pass the specific version of the pricing engine to run if you choose to do so.",
                    "format": "int32"
                  },
                  "params": {
                    "type": "string",
                    "description": "parameters and values for the Pricing Engine, should be a dict",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{'object': 'decision_run',\n 'url': '/v1/decision/:id/run/',\n 'result': {'code': 1,\n  'data': {'rule_id': int,\n   'app_id': int,\n   'status': int,\n   'chain': int,\n   'action': string},\n  'msg': string}}\n"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sub_tenants": {
      "get": {
        "summary": "List all Sub Tenants",
        "description": "List all Sub Tenants under the Parent Tenant",
        "operationId": "list-all-sub-tenants",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "index of record to start with",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "max number of records to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sub_tenant/{tenant_id}": {
      "get": {
        "summary": "Get Sub Tenant",
        "description": "This API returns the information related to the sub tenant.",
        "operationId": "get-sub-tenant",
        "parameters": [
          {
            "name": "tenant_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sub_tenant/": {
      "post": {
        "summary": "Create Sub Tenant",
        "description": "Creates a new Sub Tenant for the Tenant. client_id is an optional param which represents the external id of the sub-tenant. There are two types of Sub-Tenants: with login or without login. If the Sub Tenant doesn't need to login, ignore first_name, last_name, email and password fields.",
        "operationId": "create-sub-tenant",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "This is the name of the sub-tenant"
                  },
                  "cliend_id": {
                    "type": "string",
                    "description": "The external id of sub-tenant"
                  },
                  "first_name": {
                    "type": "string",
                    "description": "The first name of the sub-tenant admin, it is only required if sub-tenant login is enabled."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "The last name of the sub-tenant admin, it is only required if sub-tenant login is enabled"
                  },
                  "email": {
                    "type": "string",
                    "description": "The email of the sub-tenant admin, it is only required if sub-tenant login is enabled"
                  },
                  "password": {
                    "type": "string",
                    "description": "The password of the sub-tenant admin, it is only required if sub-tenant login is enabled. Password needs to be at least 8 characters, with lower case, upper case and letter."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/amortization/": {
      "post": {
        "summary": "Amortization",
        "description": "This endpoint calculates and returns the amortization schedule for a loan based on the provided loan details. The amortization schedule breaks down each payment into principal and interest components over the life of the loan. APR and periodic_payment are also calculated.",
        "operationId": "lendapi-amortization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "interest_rate",
                  "term",
                  "term_frequency"
                ],
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Loan Amount, this is the loan amount with two decimal points, for example 10000.12",
                    "format": "float"
                  },
                  "fee": {
                    "type": "number",
                    "description": "Application Fee. Will use 0 if empty",
                    "format": "float"
                  },
                  "interest_rate": {
                    "type": "number",
                    "description": "Loan Interest Rate in percentage. If interest rate is 12.50%, you shall enter 12.50",
                    "format": "float"
                  },
                  "term": {
                    "type": "integer",
                    "description": "The number of term per the term_frequency below",
                    "format": "int32"
                  },
                  "term_frequency": {
                    "type": "string",
                    "description": "Can be \u2018monthly', 'semi-monthly', 'bi-weekly', 'weekly', 'quarterly\u2019"
                  },
                  "disbursement_date": {
                    "type": "string",
                    "description": "Optional. Fund disbursement date, date format yyyy-MM-dd"
                  },
                  "first_payment_date": {
                    "type": "string",
                    "description": "Optional. First payment date, date format yyyy-MM-dd"
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "amount": 14200,
                    "fee": 1135,
                    "term": 12,
                    "term_frequency": "monthly",
                    "interest_rate": 32,
                    "disbursement_date": "2025-12-04",
                    "first_payment_date": "2026-02-24"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "object": "amortization",
                      "url": "/v1/amortization/",
                      "result": {
                        "code": 1,
                        "total_payments": 18933.63,
                        "total_interests": 3598.63,
                        "periodic_payment": 1577.81,
                        "application_fee": 1135,
                        "financial_charge": 4733.63,
                        "interest_rate": 32,
                        "apr": 44.2135,
                        "amount": 14200,
                        "term": 12,
                        "term_frequency": "monthly",
                        "disbursement_date": "2025-12-04",
                        "first_payment_date": "2026-02-24",
                        "amortization": [
                          {
                            "period": 1,
                            "date": "2026-02-24",
                            "periodic_payment": 1577.81,
                            "interest": 1114.87,
                            "principal": 462.94,
                            "balance": 14872.06,
                            "cumulative_interests": 1114.87,
                            "unit_periods": 2.6666666666666665
                          },
                          {
                            "period": 2,
                            "date": "2026-03-24",
                            "periodic_payment": 1577.81,
                            "interest": 396.59,
                            "principal": 1181.22,
                            "balance": 13690.84,
                            "cumulative_interests": 1511.46,
                            "unit_periods": 3.6666666666666665
                          },
                          {
                            "period": 3,
                            "date": "2026-04-24",
                            "periodic_payment": 1577.81,
                            "interest": 365.09,
                            "principal": 1212.72,
                            "balance": 12478.12,
                            "cumulative_interests": 1876.55,
                            "unit_periods": 4.666666666666667
                          },
                          {
                            "period": 4,
                            "date": "2026-05-24",
                            "periodic_payment": 1577.81,
                            "interest": 332.75,
                            "principal": 1245.06,
                            "balance": 11233.06,
                            "cumulative_interests": 2209.3,
                            "unit_periods": 5.666666666666667
                          },
                          {
                            "period": 5,
                            "date": "2026-06-24",
                            "periodic_payment": 1577.81,
                            "interest": 299.55,
                            "principal": 1278.26,
                            "balance": 9954.8,
                            "cumulative_interests": 2508.85,
                            "unit_periods": 6.666666666666667
                          },
                          {
                            "period": 6,
                            "date": "2026-07-24",
                            "periodic_payment": 1577.81,
                            "interest": 265.46,
                            "principal": 1312.35,
                            "balance": 8642.45,
                            "cumulative_interests": 2774.31,
                            "unit_periods": 7.666666666666667
                          },
                          {
                            "period": 7,
                            "date": "2026-08-24",
                            "periodic_payment": 1577.81,
                            "interest": 230.47,
                            "principal": 1347.34,
                            "balance": 7295.11,
                            "cumulative_interests": 3004.78,
                            "unit_periods": 8.666666666666666
                          },
                          {
                            "period": 8,
                            "date": "2026-09-24",
                            "periodic_payment": 1577.81,
                            "interest": 194.54,
                            "principal": 1383.27,
                            "balance": 5911.84,
                            "cumulative_interests": 3199.32,
                            "unit_periods": 9.666666666666666
                          },
                          {
                            "period": 9,
                            "date": "2026-10-24",
                            "periodic_payment": 1577.81,
                            "interest": 157.65,
                            "principal": 1420.16,
                            "balance": 4491.68,
                            "cumulative_interests": 3356.97,
                            "unit_periods": 10.666666666666666
                          },
                          {
                            "period": 10,
                            "date": "2026-11-24",
                            "periodic_payment": 1577.81,
                            "interest": 119.78,
                            "principal": 1458.03,
                            "balance": 3033.65,
                            "cumulative_interests": 3476.75,
                            "unit_periods": 11.666666666666666
                          },
                          {
                            "period": 11,
                            "date": "2026-12-24",
                            "periodic_payment": 1577.81,
                            "interest": 80.9,
                            "principal": 1496.91,
                            "balance": 1536.74,
                            "cumulative_interests": 3557.65,
                            "unit_periods": 12.666666666666666
                          },
                          {
                            "period": 12,
                            "date": "2027-01-24",
                            "periodic_payment": 1577.72,
                            "interest": 40.98,
                            "principal": 1536.74,
                            "balance": 0,
                            "cumulative_interests": 3598.63,
                            "unit_periods": 13.666666666666666
                          }
                        ]
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "amortization"
                    },
                    "url": {
                      "type": "string",
                      "example": "/v1/amortization/"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "amortization": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "period": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "periodic_payment": {
                                "type": "number",
                                "example": 350.12,
                                "default": 0
                              },
                              "principal": {
                                "type": "number",
                                "example": 223.87,
                                "default": 0
                              },
                              "interest": {
                                "type": "number",
                                "example": 126.25,
                                "default": 0
                              },
                              "balance": {
                                "type": "number",
                                "example": 9876.13,
                                "default": 0
                              },
                              "cumulative_interests": {
                                "type": "number",
                                "example": 126.25,
                                "default": 0
                              }
                            }
                          }
                        },
                        "total_payments": {
                          "type": "number",
                          "example": 12604.31,
                          "default": 0
                        },
                        "total_interests": {
                          "type": "number",
                          "example": 2504.31,
                          "default": 0
                        },
                        "periodic_payment": {
                          "type": "number",
                          "example": 350.12,
                          "default": 0
                        },
                        "interest_rate": {
                          "type": "integer",
                          "example": 15,
                          "default": 0
                        },
                        "apr": {
                          "type": "number",
                          "example": 15.705847098039083,
                          "default": 0
                        },
                        "amount": {
                          "type": "integer",
                          "example": 10000,
                          "default": 0
                        },
                        "fee": {
                          "type": "integer",
                          "example": 100,
                          "default": 0
                        },
                        "term": {
                          "type": "integer",
                          "example": 36,
                          "default": 0
                        },
                        "term_frequency": {
                          "type": "string",
                          "example": "monthly"
                        },
                        "msg": {
                          "type": "string",
                          "example": "Success"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/credit_risk/integrated_function_2/": {
      "post": {
        "summary": "integrated function",
        "description": "This is a machine learning restful api which returns the subprime risk scores.",
        "operationId": "integrated-function",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "xml_file": {
                    "type": "string",
                    "description": "This is the input xml file",
                    "format": "binary"
                  },
                  "model_name": {
                    "type": "string",
                    "description": "The model name, for example: xgb_model"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"object\": \"credit_risk\",\n    \"url\": \"/v1/credit_risk/integrated_function_2/\",\n    \"rule_table\": {\n        \"Application_ID\": [\n            5307482\n        ],\n        \"Rule_ID\": [\n            1\n        ],\n        \"Rule_Description\": [\n            \"If xgb model score is non-missing and > 0.2 then decline\"\n        ],\n        \"Rule_Value\": [\n            0.6081843376159668\n        ],\n        \"Rule_Result__Decline_yn\": [\n            1\n        ],\n        \"Reason_1\": [\n            \"Percentage of tradelines that defaulted recently  is too high\"\n        ],\n        \"Reason_2\": [\n            \"Loans with late payment in the last 7 years\"\n        ],\n        \"Reason_3\": [\n            \"Number of trades opened in the last 12 months ever 30 or more days delinquent or derogatory\"\n        ],\n        \"Reason_4\": [\n            \"Number of  trades ever 30 or more days delinquent or derogatory occurred recently\"\n        ]\n    },\n    \"rule_json\": {\n        \"Application_ID\": 5307482,\n        \"Rule_ID\": 1,\n        \"Rule_Description\": \"If xgb model score is non-missing and > 0.2 then decline\",\n        \"Rule_Value\": 0.6081843376,\n        \"Rule_Result__Decline_yn\": 1,\n        \"Reason_1\": \"Percentage of tradelines that defaulted recently  is too high\",\n        \"Reason_2\": \"Loans with late payment in the last 7 years\",\n        \"Reason_3\": \"Number of trades opened in the last 12 months ever 30 or more days delinquent or derogatory\",\n        \"Reason_4\": \"Number of  trades ever 30 or more days delinquent or derogatory occurred recently\"\n    },\n    \"xml_raw_attributes\": {\n        \"ID\": [\n            5307482\n        ],\n        \"tracking-number\": [\n            \"wbj6pwje93\"\n        ],\n        \"action\": [\n            \"Approve\"\n        ],\n        \"deny-codes/nil\": [\n            \"true\"\n        ],\n        \"deny-descriptions/nil\": [\n            \"true\"\n        ],\n        \"exception-descriptions/nil\": [\n            \"true\"\n        ],\n        \"filter-codes/nil\": [\n            \"true\"\n        ],\n        \"filter-descriptions/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/action\": [\n            \"Approve\"\n        ],\n        \"clear-bank-behavior/deny-codes/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/deny-descriptions/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/exception-descriptions/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/cbb-score\": [\n            \"781\"\n        ],\n        \"clear-bank-behavior/cbb-reason-code-description\": [\n            \"(BB115) Length of time since last check cashing activity|(BB109(*)) Number of bank account opening attempts in last 6 months|(BB110(*)) Number of bank account opening attempts  in last 3 years|(BB108(*)) Number of bank account closures in last 5 years\"\n        ],\n        \"clear-bank-behavior/estimated-bank-history\": [\n            \"1774\"\n        ],\n        \"clear-bank-behavior/number-of-accounts-all\": [\n            \"4\"\n        ],\n        \"clear-bank-behavior/number-of-accounts-active\": [\n            \"1\"\n        ],\n        \"clear-bank-behavior/number-of-accounts-with-check-history\": [\n            \"1\"\n        ],\n        \"clear-bank-behavior/positive-check-writing-history\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/check-cashing-history\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/days-since-last-check-cashing-activity\": [\n            \"123\"\n        ],\n        \"clear-bank-behavior/days-since-last-successful-check-cashed\": [\n            \"123\"\n        ],\n        \"clear-bank-behavior/number-of-accounts-at-high-risk-banks\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/number-of-high-risk-accounts\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/number-of-low-risk-accounts\": [\n            \"2\"\n        ],\n        \"clear-bank-behavior/number-of-unknown-risk-accounts\": [\n            \"2\"\n        ],\n        \"clear-bank-behavior/number-of-accounts-with-default-history\": [\n            \"1\"\n        ],\n        \"clear-bank-behavior/number-of-accounts-linked-to-fraud\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/number-of-accounts-with-alternate-ssns\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/max-number-of-ssns-with-micr\": [\n            \"1\"\n        ],\n        \"clear-bank-behavior/reason-code-description\": [\n            \"(A01(#)) Primary account has retail check writing history|(A03(#)) Primary account has positive retail check writing history|(A08) Primary account first seen by Clarity in 61-90 days|(B05) Secondary account ownership confirmed\"\n        ],\n        \"clear-bank-behavior/cbb-non-scorable-reason/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/cbb-non-scorable-reason-description/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/cbb-score2\": [\n            \"802\"\n        ],\n        \"clear-bank-behavior/cbb-reason-code-description2\": [\n            \"(BB207(*)) Number of bank account closures in last 3 years|(BB206) High risk banking institution|(BB202) Length of time since a prior bank account was first submitted|(BB204) Length of time since current bank account was first submitted\"\n        ],\n        \"clear-bank-behavior/full-name\": [\n            \"MCCLENDON, STEPHANIE \"\n        ],\n        \"clear-bank-behavior/product-date\": [\n            \"2023-06-30T01:34:36Z\"\n        ],\n        \"clear-bank-behavior/filter-codes/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/filter-descriptions/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/consumer-privacy-message-text\": [\n            \"NO CONSUMER PRIVACY DATA ON FILE\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/error-details/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/avg-number-days-between-closure-5-years-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/consumer-dispute-quantity-5-years-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/consumer-dispute-resolved-quantity-5-years-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-days-since-first-closure-5-years-ago\": [\n            \"323\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-days-since-most-recent-closure-5-years-ago\": [\n            \"323\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/no-closures\": [\n            \"false\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/avg-number-of-checks-ordered/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-days-since-first-order/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-days-since-most-recent-order/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-different-accounts/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/consumer-statement-text1/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/consumer-statement-text2/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/consumer-statement-text3/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/driver-license-validation-message-text/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/government-number-validation-message-text\": [\n            \"BECAME AVAILABLE FOR ISSUANCE IN 1976 IN IN\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/debit-bureau-reason-codes\": [\n            \"EK|EB|EH|ED\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/debit-bureau-reason-texts\": [\n            \"DDA CLOSURE PAYMENT HISTORY|DDA HISTORY|UNIQUE FI DDA INQUIRY HISTORY|DDA CLOSURE(S)\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/debit-bureau-score\": [\n            \"540\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/episode-span-all-item-total-number-of-days-3-years-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/max-amount-open-item-3-years-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/max-amount-paid-item-3-years-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/max-number-days-to-pay-3-years-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/min-check-number-on-open-item-3-years-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/min-number-days-to-pay-3-years-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-days-most-recent-open-item-3-years-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-days-most-recent-paid-item-3-years-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/no-returned-checks\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-inquiries-in-3-years-ago-dda-and-non-dda\": [\n            \"10\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/no-previous-inquiry-dda-and-non-dda\": [\n            \"false\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/no-debit-data-found\": [\n            \"false\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-days-since-first-inquiry/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-days-since-last-inquiry/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/no-previous-inquiry\": [\n            \"false\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/no-non-dda-auto-previous-inquiry\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/no-non-dda-credit-previous-inquiry\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/closures/closure/routing-number\": [\n            \"274074257\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/closures/closure/account-number\": [\n            \"XXXXXXXXXXXXXXXX9097\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/closures/closure/closure-date\": [\n            \"2022-08-10\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/closures/closure/reason-code\": [\n            \"6\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/closures/closure/institution-name\": [\n            \"FINANCIAL HEALTH FEDERAL CU\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/closures/closure/institution-state\": [\n            \"IN\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/closures/closure/amount\": [\n            \"79627\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/closures/closure/paid-date\": [\n            \"2022-08-10\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/closures/closure/consumer-dispute-text/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/closures/closure/days-since-closed\": [\n            \"324\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/closures/closure/days-since-paid-closed\": [\n            \"324\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/closures/closure/reason-code-description\": [\n            \"(6) ACCOUNT ABUSE\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/closures/closure/matches-clarity-seen-account\": [\n            \"false\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-fraud-closures/thirty-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-fraud-closures/sixty-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-fraud-closures/ninety-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-fraud-closures/one-hundred-eighty-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-fraud-closures/one-year-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-fraud-closures/two-years-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-fraud-closures/three-years-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-fraud-closures/four-years-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-fraud-closures/five-years-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-fraud-closure/thirty-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-fraud-closure/sixty-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-fraud-closure/ninety-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-fraud-closure/one-hundred-eighty-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-fraud-closure/one-year-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-fraud-closure/two-years-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-fraud-closure/three-years-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-fraud-closure/four-years-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-fraud-closure/five-years-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-closures/thirty-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-closures/sixty-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-closures/ninety-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-closures/one-hundred-eighty-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-closures/one-year-ago\": [\n            \"79627\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-closures/two-years-ago\": [\n            \"79627\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-closures/three-years-ago\": [\n            \"79627\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-closures/four-years-ago\": [\n            \"79627\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-closures/five-years-ago\": [\n            \"79627\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-closures-paid/thirty-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-closures-paid/sixty-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-closures-paid/ninety-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-closures-paid/one-hundred-eighty-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-closures-paid/one-year-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-closures-paid/two-years-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-closures-paid/three-years-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-closures-paid/four-years-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-closures-paid/five-years-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-closures-unpaid/thirty-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-closures-unpaid/sixty-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-closures-unpaid/ninety-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-closures-unpaid/one-hundred-eighty-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-closures-unpaid/one-year-ago\": [\n            \"79627\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-closures-unpaid/two-years-ago\": [\n            \"79627\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-closures-unpaid/three-years-ago\": [\n            \"79627\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-closures-unpaid/four-years-ago\": [\n            \"79627\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-closures-unpaid/five-years-ago\": [\n            \"79627\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-closures/thirty-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-closures/sixty-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-closures/ninety-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-closures/one-hundred-eighty-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-closures/one-year-ago\": [\n            \"1\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-closures/two-years-ago\": [\n            \"1\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-closures/three-years-ago\": [\n            \"1\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-closures/four-years-ago\": [\n            \"1\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-closures/five-years-ago\": [\n            \"1\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-closures-paid/thirty-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-closures-paid/sixty-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-closures-paid/ninety-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-closures-paid/one-hundred-eighty-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-closures-paid/one-year-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-closures-paid/two-years-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-closures-paid/three-years-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-closures-paid/four-years-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-closures-paid/five-years-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-closures-unpaid/thirty-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-closures-unpaid/sixty-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-closures-unpaid/ninety-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-closures-unpaid/one-hundred-eighty-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-closures-unpaid/one-year-ago\": [\n            \"1\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-closures-unpaid/two-years-ago\": [\n            \"1\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-closures-unpaid/three-years-ago\": [\n            \"1\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-closures-unpaid/four-years-ago\": [\n            \"1\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-closures-unpaid/five-years-ago\": [\n            \"1\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-checks-ordered/thirty-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-checks-ordered/sixty-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-checks-ordered/ninety-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-checks-ordered/one-hundred-eighty-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-checks-ordered/one-year-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-checks-ordered/two-years-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-checks-ordered/three-years-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-check-orders/thirty-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-check-orders/sixty-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-check-orders/ninety-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-check-orders/one-hundred-eighty-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-check-orders/one-year-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-check-orders/two-years-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-check-orders/three-years-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-non-dda-inquiries/thirty-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-non-dda-inquiries/sixty-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-non-dda-inquiries/ninety-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-non-dda-inquiries/one-hundred-eighty-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-non-dda-inquiries/one-year-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-non-dda-inquiries/two-years-ago\": [\n            \"2\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-non-dda-inquiries/three-years-ago\": [\n            \"4\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-non-dda-inquiries/number-since-first-inquiry\": [\n            \"896\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-non-dda-inquiries/number-since-last-inquiry\": [\n            \"665\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-payday-inquiries/thirty-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-payday-inquiries/sixty-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-payday-inquiries/ninety-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-payday-inquiries/one-hundred-eighty-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-payday-inquiries/one-year-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-payday-inquiries/two-years-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-payday-inquiries/three-years-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-payday-inquiries/number-since-first-inquiry/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-payday-inquiries/number-since-last-inquiry/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-inquiries/thirty-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-inquiries/sixty-days-ago\": [\n            \"0\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-inquiries/ninety-days-ago\": [\n            \"2\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-inquiries/one-hundred-eighty-days-ago\": [\n            \"3\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-inquiries/one-year-ago\": [\n            \"4\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-inquiries/two-years-ago\": [\n            \"4\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-inquiries/three-years-ago\": [\n            \"6\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-inquiries/number-since-first-inquiry\": [\n            \"750\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-of-inquiries/number-since-last-inquiry\": [\n            \"77\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-open-items/thirty-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-open-items/sixty-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-open-items/ninety-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-open-items/one-hundred-eighty-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-open-items/one-year-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-open-items/two-years-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-open-items/three-years-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-paid-items/thirty-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-paid-items/sixty-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-paid-items/ninety-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-paid-items/one-hundred-eighty-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-paid-items/one-year-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-paid-items/two-years-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/amount-paid-items/three-years-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-open-items/thirty-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-open-items/sixty-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-open-items/ninety-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-open-items/one-hundred-eighty-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-open-items/one-year-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-open-items/two-years-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-open-items/three-years-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-paid-items/thirty-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-paid-items/sixty-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-paid-items/ninety-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-paid-items/one-hundred-eighty-days-ago/nil\": [\n            \"true\"\n        ],\n        \"clear-bank-behavior/fis-chex-advisor/number-paid-items/one-year-ago/nil\": [\n            \"tru
[...]
